@using MakaleEntities
@using MakaleWeb_MVC.Models
@model List<Yorum>

@{ 
    Kullanici kullanici = SessionUser.Login;
}

@foreach (var item in Model)
{
<div class="media">
    <div class="media-left media-top">
        <div class="media-object">
            <span class="glyphicon glyphicon-comment"></span>
        </div>
    </div>
    <div class="media-body">
        <div>
            <span class="col-md-10">
                @item.Text
            </span>
            @if (kullanici != null && kullanici.Id == item.Kullanici.Id)
            {
                <span class="col-md-2 text-right">
                    <button type="button" class="btn btn-warning btn-xs">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <button type="button" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </span>
            }
            <small class="col-md-12 text-right">
                <span class="glyphicon glyphicon-user"></span> @item.Kullanici.KullaniciAdi
                <span class="glyphicon glyphicon-time"></span> @item.DegistirmeTarihi
            </small>

        </div>
    </div>
</div>
}

